<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Fashion Forge | Order Confirmed</title>
  <meta name="description" content="Morden Bootstrap HTML5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/media/img/favicon.ico">
    
  <!-- ======= All CSS Plugins here ======== -->
  <link rel="stylesheet" href="/media/css/plugins/swiper-bundle.min.css">
  <link rel="stylesheet" href="/media/css/plugins/glightbox.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Plugin css -->
  <link rel="stylesheet" href="/media/css/vendor/bootstrap.min.css">

  <!-- Custom Style CSS -->
  <link rel="stylesheet" href="/media/css/style.css">

</head>

<body>

    <!-- Start preloader -->
    <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
                    <span data-text-preloader="L" class="letters-loading">
                        L
                    </span>
                    
                    <span data-text-preloader="O" class="letters-loading">
                        O
                    </span>
                    
                    <span data-text-preloader="A" class="letters-loading">
                        A
                    </span>
                    
                    <span data-text-preloader="D" class="letters-loading">
                        D
                    </span>
                    
                    <span data-text-preloader="I" class="letters-loading">
                        I
                    </span>
                    
                    <span data-text-preloader="N" class="letters-loading">
                        N
                    </span>
                    
                    <span data-text-preloader="G" class="letters-loading">
                        G
                    </span>
                </div>
            </div>	

            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
    </div>
    <!-- End preloader -->
    
    <!-- Start checkout page area -->
    <div class="checkout__page--area">
        <div class="container">
            <div class="checkout__page--inner d-flex">
                <div class="main checkout__mian">
                    <header class="main__header checkout__mian--header mb-30">
                        <h1 class="main__logo--title"><a class="logo logo__left mb-20" href="index.html"><img src="/media/img/logo/logo.png" alt="logo"></a></h1>
                    </header>
                    <main class="main__content_wrapper">
                        <form action="#">
                            <div class="checkout__content--step section__shipping--address pt-0">
                                <div class="section__header checkout__header--style3 position__relative mb-25">
                                    <span class="checkout__order--number">Order #{{cart.razor_pay_order_id}}</span>
                                    <h2 class="section__header--title h3">Thank you for your order!</h2>
                                    <div class="checkout__submission--icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25.995" height="25.979" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M416 128L192 384l-96-96"/></svg>
                                    </div>
                                </div>
                                <div class="order__confirmed--area border-radius-5 mb-15" style="width: 1100px;">
                                    <h3 class="order__confirmed--title h4">Your order is confirmed</h3>
                                    <p class="order__confirmed--desc">You,ll receive a confirmation email with your order number shortly</p>
                                </div>
                                <div class="customer__information--area border-radius-5" style="width: 1100px;">
                                    <h3 class="customer__information--title h4">Customer Information</h3>
                                    <div class="customer__information--inner d-flex">
                                        <div class="customer__information--list">
                                            <div class="customer__information--step">
                                                <h4 class="customer__information--subtitle h5">Contact information</h4>
                                                <ul>
                                                    <li><a class="customer__information--text__link" href="#">{{user.email}}</a></li>
                                                    <li><a class="customer__information--text__link" href="#">{{profile.phone_number}}</a></li>
                                                </ul>
                                            </div>
                                            <div class="customer__information--step">
                                                <h4 class="customer__information--subtitle h5">Shipping address</h4>
                                                <ul>
                                                    <li><span class="customer__information--text">{{profile.address}} {{profile.landmark}}</span></li>
                                                    <li><span class="customer__information--text">{{profile.city}}</span></li>
                                                    <li><span class="customer__information--text">{{profile.pin_code}}</span></li>
                                                    <li><span class="customer__information--text">{{profile.country}}</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__content--step__footer d-flex align-items-center">
                                <a class="continue__shipping--btn primary__btn border-radius-5" href="{%url 'profile'%}">Go to orders</a>
                            </div>
                        </form>
                    </main>
                    <footer class="main__footer checkout__footer">
                        <p class="copyright__content">Copyright © 2023 <a class="copyright__content--link" href="{% url 'home' %}">Fashion Forge</a> . All Rights Reserved.Designed By Prathika</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <!-- End checkout page area -->

    <!-- Scroll top bar -->
    <button id="scroll__top"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M112 244l144-144 144 144M256 120v292"/></svg></button>

  <!-- All Script JS Plugins here  -->
  <script src="/media/js/vendor/popper.js" defer="defer"></script>
  <script src="/media/js/vendor/bootstrap.min.js" defer="defer"></script>
  <script src="/media/js/plugins/swiper-bundle.min.js"></script>
  <script src="/media/js/plugins/glightbox.min.js"></script>

  <!-- Customscript js -->
  <script src="/media/js/script.js"></script>

  
</body>
</html>