{% extends 'base/home-base.html' %} {% block title %} Cart{% endblock %} 
{% block start %} 
{% if cart %}
<main class="main__content_wrapper">
  <!-- Start breadcrumb section -->
  <section class="breadcrumb__section breadcrumb__bg">
    <div class="container">
      <div class="row row-cols-1">
        <div class="col">
          <div class="breadcrumb__content text-center">
            <h1 class="breadcrumb__content--title text-white mb-25">
              Shopping Cart
            </h1>
            <ul class="breadcrumb__content--menu d-flex justify-content-center">
              <li class="breadcrumb__content--menu__items">
                <a class="text-white" href="index.html">Home</a>
              </li>
              <li class="breadcrumb__content--menu__items">
                <span class="text-white">Shopping Cart</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb section -->

  <!-- cart section start -->
  <section class="cart__section section--padding">
    <div class="container-fluid">
      <div class="cart__section--inner">
        <h2 class="cart__title mb-40">Shopping Cart</h2>
        <div class="row">
          <div class="col-lg-8">
            <div class="cart__table">
              <table class="cart__table--inner">
                <thead class="cart__table--header">
                  <tr class="cart__table--header__items">
                    <th class="cart__table--header__list">Product</th>
                    <th class="cart__table--header__list">Price</th>
                    <th class="cart__table--header__list">Total</th>
                  </tr>
                </thead>
                <tbody class="cart__table--body">
                  {% for cart_item in cart.cart_items.all %}
                  <tr class="cart__table--body__items">
                    <td class="cart__table--body__list">
                      <div class="cart__product d-flex align-items-center">
                        <a
                          href="{% url 'remove_cart' cart_item.uid%}"
                          class="cart__remove--btn"
                          aria-label="search button"
                        >
                          <svg
                            fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            width="16px"
                            height="16px"
                          >
                            <path
                              d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"
                            />
                          </svg>
                        </a>
                        <div class="cart__thumbnail">
                          <a
                            href="{% url 'get_product' cart_item.product.slug %}"
                            ><img
                              class="border-radius-5"
                              src="/media/{{cart_item.product.product_images.first.image}}"
                              alt="cart-product"
                          /></a>
                        </div>
                        <div class="cart__content">
                          <h4 class="cart__content--title">
                            <a
                              href="{% url 'get_product' cart_item.product.slug %}"
                              >{{cart_item.product.product_name}}
                            </a>
                          </h4>
                          <span class="cart__content--variant"
                            >COLOR: Blue</span
                          >

                          {% if cart_item.size_variant %}
                          <span class="cart__content--variant"
                            >Size: {{cart_item.size_variant.size_name}}</span
                          >
                          {% endif %}
                        </div>
                      </div>
                    </td>
                    <td class="cart__table--body__list">
                      <span class="cart__price"
                        >₹{{cart_item.get_product_price}}</span
                      >
                    </td>
                    <td class="cart__table--body__list">
                      <span class="cart__price end">₹{{cart_item.get_product_price}}</span>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <div class="continue__shopping d-flex justify-content-between">
                <a class="continue__shopping--link" href="{% url 'product_grid' %}"
                  >Continue shopping</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="cart__summary border-radius-10">
              <div class="cart__summary--total mb-20">
                <table class="cart__summary--total__table">
                  <tbody>
                    <tr class="cart__summary--total__list">
                      <td class="cart__summary--total__title text-left">
                        SUBTOTAL
                      </td>
                      <td class="cart__summary--amount text-right">
                        ₹{{ cart_total }}.00
                      </td>
                    </tr>
                    <tr class="cart__summary--total__list">
                      <td class="cart__summary--total__title text-left">
                        GRAND TOTAL
                      </td>
                      <td class="cart__summary--amount text-right">
                        ₹{{ cart_total }}.00
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="cart__summary--footer">
                <p class="cart__summary--footer__desc">
                  Shipping & taxes calculated at checkout
                </p>
                <ul class="d-flex justify-content-between">
                  <li>
                    <a
                      href="{% url 'checkout' %}"
                      class="cart__summary--footer__btn primary__btn checkout"
                      >Check Out</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- cart section end -->

  <!-- Start product section -->
  <section class="product__section section--padding pt-0">
    <div class="container-fluid">
      <div class="section__heading text-center mb-50">
        <h2 class="section__heading--maintitle">New Products</h2>
      </div>
      <div class="product__section--inner product__swiper--activation swiper">
        <div class="swiper-wrapper">
          
          {% for product in  random_products %}
          <div class="swiper-slide">
            <div class="product__items">
              <div class="product__items--thumbnail">
                <a
                  class="product__items--link"
                  href="{% url 'get_product' product.slug %}"
                >
                  <img
                    class="product__items--img product__primary--img"
                    src="/media/{{product.product_images.first.image}}"
                    alt="product-img"
                  />
                </a>
                <div class="product__badge">
                  <span class="product__badge--items sale">Sale</span>
                </div>
              </div>
              <div class="product__items--content">
                <span class="product__items--content__subtitle"
                  >{{product.category}}</span
                >
                <h3 class="product__items--content__title h4">
                  <a href="{% url 'get_product' product.slug %}"
                    >{{product.product_name}}</a
                  >
                </h3>
                <div class="product__items--price">
                  <span class="current__price">₹{{product.price}}</span>
                  <span class="price__divided"></span>
                </div>
  
                <ul class="product__items--action d-flex">
                  <li class="product__items--action__list">
                    <a
                      class="product__items--action__btn add__to--cart"
                      href="{% url 'add_to_cart' product.uid %}"
                    >
                      <svg
                        class="product__items--action__btn--svg"
                        xmlns="http://www.w3.org/2000/svg"
                        width="22.51"
                        height="20.443"
                        viewBox="0 0 14.706 13.534"
                      >
                        <g transform="translate(0 0)">
                          <g>
                            <path
                              data-name="Path 16787"
                              d="M4.738,472.271h7.814a.434.434,0,0,0,.414-.328l1.723-6.316a.466.466,0,0,0-.071-.4.424.424,0,0,0-.344-.179H3.745L3.437,463.6a.435.435,0,0,0-.421-.353H.431a.451.451,0,0,0,0,.9h2.24c.054.257,1.474,6.946,1.555,7.33a1.36,1.36,0,0,0-.779,1.242,1.326,1.326,0,0,0,1.293,1.354h7.812a.452.452,0,0,0,0-.9H4.74a.451.451,0,0,1,0-.9Zm8.966-6.317-1.477,5.414H5.085l-1.149-5.414Z"
                              transform="translate(0 -463.248)"
                              fill="currentColor"
                            ></path>
                            <path
                              data-name="Path 16788"
                              d="M5.5,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,5.5,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,6.793,478.352Z"
                              transform="translate(-1.191 -466.622)"
                              fill="currentColor"
                            ></path>
                            <path
                              data-name="Path 16789"
                              d="M13.273,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,13.273,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,14.566,478.352Z"
                              transform="translate(-2.875 -466.622)"
                              fill="currentColor"
                            ></path>
                          </g>
                        </g>
                      </svg>
                      <span class="add__to--cart__text"> + Add to cart</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="swiper__nav--btn swiper-button-next"></div>
        <div class="swiper__nav--btn swiper-button-prev"></div>
      </div>
    </div>
  </section>
  <!-- End product section -->

  <!-- Start brand logo section -->
  <div class="brand__logo--section bg__secondary section--padding">
    <div class="container-fluid">
      <div class="row row-cols-1">
        <div class="col">
          <div
            class="brand__logo--section__inner d-flex justify-content-center align-items-center"
          >
            <div class="brand__logo--items">
              <img
                class="brand__logo--items__thumbnail--img display-block"
                src="/media/img/logo/brand-logo1.png"
                alt="brand logo"
              />
            </div>
            <div class="brand__logo--items">
              <img
                class="brand__logo--items__thumbnail--img display-block"
                src="/media/img/logo/brand-logo2.png"
                alt="brand logo"
              />
            </div>
            <div class="brand__logo--items">
              <img
                class="brand__logo--items__thumbnail--img display-block"
                src="/media/img/logo/brand-logo3.png"
                alt="brand logo"
              />
            </div>
            <div class="brand__logo--items">
              <img
                class="brand__logo--items__thumbnail--img display-block"
                src="/media/img/logo/brand-logo4.png"
                alt="brand logo"
              />
            </div>
            <div class="brand__logo--items">
              <img
                class="brand__logo--items__thumbnail--img display-block"
                src="/media/img/logo/brand-logo5.png"
                alt="brand logo"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End brand logo section -->

  <!-- Start shipping section -->
  <section class="shipping__section2 shipping__style3 section--padding">
    <div class="container">
      <div
        class="shipping__section2--inner shipping__style3--inner d-flex justify-content-between"
      >
        <div class="shipping__items2 d-flex align-items-center">
          <div class="shipping__items2--icon">
            <img src="/media/img/other/shipping1.png" alt="" />
          </div>
          <div class="shipping__items2--content">
            <h2 class="shipping__items2--content__title h3">Shipping</h2>
            <p class="shipping__items2--content__desc">
              From handpicked sellers
            </p>
          </div>
        </div>
        <div class="shipping__items2 d-flex align-items-center">
          <div class="shipping__items2--icon">
            <img src="/media/img/other/shipping2.png" alt="" />
          </div>
          <div class="shipping__items2--content">
            <h2 class="shipping__items2--content__title h3">Payment</h2>
            <p class="shipping__items2--content__desc">
              From handpicked sellers
            </p>
          </div>
        </div>
        <div class="shipping__items2 d-flex align-items-center">
          <div class="shipping__items2--icon">
            <img src="/media/img/other/shipping3.png" alt="" />
          </div>
          <div class="shipping__items2--content">
            <h2 class="shipping__items2--content__title h3">Return</h2>
            <p class="shipping__items2--content__desc">
              From handpicked sellers
            </p>
          </div>
        </div>
        <div class="shipping__items2 d-flex align-items-center">
          <div class="shipping__items2--icon">
            <img src="/media/img/other/shipping4.png" alt="" />
          </div>
          <div class="shipping__items2--content">
            <h2 class="shipping__items2--content__title h3">Support</h2>
            <p class="shipping__items2--content__desc">
              From handpicked sellers
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End shipping section -->
</main>
{% else %}
<!-- Start error section -->
<section class="error__section section--padding">
  <div class="container">
    <div class="row row-cols-1">
      <div class="col">
        <div class="error__content text-center">
          <h2 class="banner__items--content__title h2">
            Oops! Your cart looks empty!
            <small class="text-danger"><a href="">Shop Now</a></small>
          </h2>
          <img
            class="error__content--img mb-50"
            src="/media/img/other/emty-cart.png"
            alt="error-img"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End error section -->
{% endif %} 
{% endblock %}
